body{
    text-align: center;
}
#myClock{
    border:1px solidblack;
}
#myCanvas{
    border: 2px solid black;
    background-image: url(images/sdv.jpg);
}
#talkBox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}
h2{
    /* 預留歌曲名稱顯示空間 */
    height: 32px;
    font-size: medium;
}
#dialogDate{
    width:500px;
    border: none;
    border-radius: 10px;
}
#jokediagram{
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
}
#mind{
    text-align: center;
}